label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
    display: inline-block;
    float: left;
}

.form-horizontal{
    transform: scale(2);
    display:block;
    width:50%;
    margin:0 auto;
}

.block{
    text-align: center;
    display:block;
    width:50%;
    margin:0 auto;
}

body{

    background-color: #eee;
}

table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #BEF2F5
}

.pagination li:hover{
    cursor: pointer;
}
.table tbody tr {
    display: none;
}
.col {
    border: 1px solid #cecece;
}
.col-6 {
    border: 1px solid #cecece;
}
.p {
    text-align: center;
}