<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
	         http://www.springframework.org/schema/security
	         http://www.springframework.org/schema/security/spring-security.xsd">


    <http pattern="/resources/**" security="none"/>

    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain">
        <http-basic/>
        <intercept-url pattern="/rest/**" access="isAuthenticated()"/>
        <!--<csrf disabled="true"/>-->
        <csrf token-repository-ref="tokenRepository"/>
    </http>

    <http>
        <intercept-url pattern="/login" access="permitAll()"/>
        <intercept-url pattern="/**" access="permitAll()"/>
        <!--<intercept-url pattern="/**" access="isAuthenticated()"/>-->

        <form-login login-page="/login" default-target-url="/enterprises"
                    authentication-failure-url="/login?error=true"
                    login-processing-url="/login"/>
        <logout logout-success-url="/login"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>
    <beans:bean id="tokenRepository"
            class="org.springframework.security.web.csrf.CookieCsrfTokenRepository"
            p:cookieHttpOnly="false"/>

    <authentication-manager>
        <authentication-provider user-service-ref="managerService">
            <password-encoder ref="noopEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>